<?xml version="1.0" encoding="UTF-8" ?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN"
        "https://mybatis.org/dtd/mybatis-3-mapper.dtd">
<!-- IAM 用户角色绑定 SQL @author XieMingJie @since 2026-09-05 -->
<mapper namespace="cn.miyf.auth.repository.mapper.SysUserRoleMapper">

    <delete id="deleteByUserId">
        DELETE FROM sys_user_role
        WHERE user_id = #{userId}
    </delete>

    <delete id="deleteByUserIdAndRoleId">
        DELETE FROM sys_user_role
        WHERE user_id = #{userId}
          AND role_id = #{roleId}
    </delete>

    <select id="countByRoleId" resultType="int">
        SELECT COUNT(1)
        FROM sys_user_role
        WHERE role_id = #{roleId}
    </select>
</mapper>
